{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react"
  ],
  "plugins": [
    ["babel-plugin-transform-import-meta", { "env": true }]
  ],
  "env": {
    "test": {
      "plugins": ["transform-vite-meta-env"]
    }
  }
}
